REACT_APP_S3_BASE_URL=https://coordinape.s3.amazonaws.com
REACT_APP_INFURA_PROJECT_ID=

# production backend
#REACT_APP_API_BASE_URL=https://coordinape.me/api

# staging backend
#REACT_APP_API_BASE_URL=https://staging-api.coordinape.com/api

# localhost backend
REACT_APP_API_BASE_URL=http://localhost/api

# for Hardhat
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_KEY
ADMIN_ADDRESS=0x0

# for Prisma
DATABASE_URL=postgres://username:password@localhost:5432/dbname

# for graphql
REACT_APP_HASURA_URL=https://coordinape-staging.hasura.app/v1/graphql
HASURA_ADMIN_SECRET=secret
