version: 2.1

orbs:
  node: circleci/node@5.1.0
  cypress: cypress-io/cypress@3.1.1

jobs:
  static-checks:
    docker:
      - image: cimg/node:16.10
    environment:
      HARDHAT_ARCHIVE_RPC_URL: https://mainnet.infura.io/v3/275c8fc2ec294d6aac6bfc881d9a9dff
      HARDHAT_FORK_BLOCK: 13500000
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '16.18'
      - node/install-packages:
          pkg-manager: yarn
      - node/install-packages:
          pkg-manager: yarn
          app-dir: hardhat
      - run: git submodule init && git submodule update
      - run:
          command: ls -al
          working_directory: hardhat
      - run:
          command: ls -al dist/ || true
          working_directory: hardhat
      - run:
          command: ls -al typechain/ || true
          working_directory: hardhat
      - run:
          command: yarn compile
          working_directory: hardhat
      - run: cd hardhat; yarn compile
      - run: cd hardhat; yarn codegen
      - run:
          command: ls -al dist/ || true
          working_directory: hardhat
      - run: yarn typecheck
      - run: yarn lint:check --format junit -o reports/junit/lint-results.xml
      - run: yarn prettier:check
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
  cypress:
    machine:
      image: ubuntu-2204:2023.02.1
    environment:
      CI: 'true'
      DOCKER_GATEWAY_HOST: 172.17.0.1
      HARDHAT_ARCHIVE_RPC_URL: https://mainnet.infura.io/v3/275c8fc2ec294d6aac6bfc881d9a9dff
      HARDHAT_FORK_BLOCK: 13500000
      IMAGES_AWS_BUCKET: coordinape
      REACT_APP_INFURA_PROJECT_ID: 275c8fc2ec294d6aac6bfc881d9a9dff
      LOCAL_POSTGRES_USER: postgres
      LOCAL_POSTGRES_PASSWORD: postgrespassword
      LOCAL_POSTGRES_DATABASE: postgres
      LOCAL_SEED_ADDRESS: '0x21DF875603Ba765a15F9ae20e633D2DAe42952d9'
      REACT_APP_FEATURE_FLAG_EMAIL_LOGIN: 1
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '16.18'
      - node/install-packages:
          pkg-manager: yarn
      - run: ./scripts/rebuild_hardhat.sh
      - run: yarn cypress install
      - run: yarn cypress verify
      - run: ./scripts/setup.sh
      - run: mkdir -p reports
      - run: ./scripts/ci/manager.sh test --cypress --reporter junit --reporter-options "mochaFile=reports/cy-test-[hash].xml,toConsole=false"
      - store_test_results:
          path: reports/
      - store_artifacts:
          path: reports/
      - store_artifacts:
          path: /home/circleci/project/cypress/videos/
      - store_artifacts:
          path: /home/circleci/project/cypress/screenshots/
  jest:
    machine:
      image: ubuntu-2204:2023.02.1
    environment:
      CI: 'true'
      DOCKER_GATEWAY_HOST: 172.17.0.1
      HARDHAT_ARCHIVE_RPC_URL: https://mainnet.infura.io/v3/275c8fc2ec294d6aac6bfc881d9a9dff
      HARDHAT_FORK_BLOCK: 13500000
      IMAGES_AWS_BUCKET: coordinape
      REACT_APP_INFURA_PROJECT_ID: 275c8fc2ec294d6aac6bfc881d9a9dff
      LOCAL_POSTGRES_USER: postgres
      LOCAL_POSTGRES_PASSWORD: postgrespassword
      LOCAL_POSTGRES_DATABASE: postgres
      LOCAL_SEED_ADDRESS: '0x21DF875603Ba765a15F9ae20e633D2DAe42952d9'
      REACT_APP_FEATURE_FLAG_EMAIL_LOGIN: 1
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '16.18'
      - node/install-packages:
          pkg-manager: yarn
      - run: ./scripts/rebuild_hardhat.sh
      - run: ./scripts/setup.sh
      - run: ./scripts/ci/manager.sh test --jest --reporters=default --reporters=jest-junit
      - store_test_results:
          path: 'junit.xml'
      - store_artifacts:
          path: 'junit.xml'

workflows:
  static-checks:
    jobs:
      - static-checks
  cypress:
    jobs:
      - cypress
  jest:
    jobs:
      - jest
