.management-exit,
.management-exit-active {
  overflow: hidden;
  transition: all 500ms;
  opacity: 0.2;
  height: 0;
  gap: 0;
  padding: 0 16px;
  margin: 0;
}

.composition-exit,
.composition-exit-active {
  animation-name: nodesCycle;
  animation: nodesCycle 4000ms ease-in-out;
}

@keyframes nodesCycle {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.3);
    opacity: 0;
  }
  90% {
    transform: scale(0.31);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.art-container-exit,
.art-container-exit-active {
  animation-name: artCycle;
  animation: artCycle 3000ms ease-in-out;
}

@keyframes artCycle {
  0% {
    filter: blur(18px);
    transform: rotate(0deg);
  }
  70% {
    filter: blur(125px);
    transform: rotate(145deg);
  }
  100% {
    filter: none;
    transform: rotate(360deg);
  }
}
