
.glitch {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  background: black;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 #ffa800;
  background: black;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 #00d8ff;
  background: black;
}

.glitch2::after{animation-name: glitch-animation-a; animation-duration: 4s;}
.glitch2::before{animation-name: glitch-animation-a2; animation-duration: 6s;}
.glitch3::after{animation-name: glitch-animation-b; animation-duration: 4s;}
.glitch3::before{animation-name: glitch-animation-b2; animation-duration: 6s;}
.glitch4::after{animation-name: glitch-animation; animation-duration: 4.2s;}
.glitch4::before{animation-name: glitch-animation-2; animation-duration: 5.8s;}
.glitch5::after{animation-name: glitch-animation-a; animation-duration: 3.9s;}
.glitch5::before{animation-name: glitch-animation-a2; animation-duration: 5.7s;}
.glitch6::after{animation-name: glitch-animation-b; animation-duration: 4.1s;}
.glitch6::before{animation-name: glitch-animation-b2; animation-duration: 5.8s;}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% { clip: rect(42px, 9999px, 44px, 0); }
  5% { clip: rect(12px, 9999px, 59px, 0); }
  10% { clip: rect(48px, 9999px, 29px, 0); }
  15.0% { clip: rect(42px, 9999px, 73px, 0); }
  20% { clip: rect(63px, 9999px, 27px, 0); }
  25% { clip: rect(34px, 9999px, 55px, 0); }
  30.0% { clip: rect(86px, 9999px, 73px, 0); }
  35% { clip: rect(20px, 9999px, 20px, 0); }
  40% { clip: rect(26px, 9999px, 60px, 0); }
  45% { clip: rect(25px, 9999px, 66px, 0); }
  50% { clip: rect(57px, 9999px, 98px, 0); }
  55.0% { clip: rect(5px, 9999px, 46px, 0); }
  60.0% { clip: rect(82px, 9999px, 31px, 0); }
  65% { clip: rect(54px, 9999px, 27px, 0); }
  70% { clip: rect(28px, 9999px, 99px, 0); }
  75% { clip: rect(45px, 9999px, 69px, 0); }
  80% { clip: rect(23px, 9999px, 85px, 0); }
  85.0% { clip: rect(54px, 9999px, 84px, 0); }
  90% { clip: rect(45px, 9999px, 47px, 0); }
  95% { clip: rect(37px, 9999px, 20px, 0); }
  100% { clip: rect(4px, 9999px, 91px, 0); }
}

@keyframes glitch-animation-2 {
  0% { clip: rect(65px, 9999px, 100px, 0); }
  5% { clip: rect(52px, 9999px, 74px, 0); }
  10% { clip: rect(79px, 9999px, 85px, 0); }
  15.0% { clip: rect(75px, 9999px, 5px, 0); }
  20% { clip: rect(67px, 9999px, 61px, 0); }
  25% { clip: rect(14px, 9999px, 79px, 0); }
  30.0% { clip: rect(1px, 9999px, 66px, 0); }
  35% { clip: rect(86px, 9999px, 30px, 0); }
  40% { clip: rect(23px, 9999px, 98px, 0); }
  45% { clip: rect(85px, 9999px, 72px, 0); }
  50% { clip: rect(71px, 9999px, 75px, 0); }
  55.0% { clip: rect(2px, 9999px, 48px, 0); }
  60.0% { clip: rect(30px, 9999px, 16px, 0); }
  65% { clip: rect(59px, 9999px, 50px, 0); }
  70% { clip: rect(41px, 9999px, 62px, 0); }
  75% { clip: rect(2px, 9999px, 82px, 0); }
  80% { clip: rect(47px, 9999px, 73px, 0); }
  85.0% { clip: rect(3px, 9999px, 27px, 0); }
  90% { clip: rect(26px, 9999px, 55px, 0); }
  95% { clip: rect(42px, 9999px, 97px, 0); }
  100% { clip: rect(38px, 9999px, 49px, 0); }
}
/* Expanded Animations */
@keyframes glitch-animation-a {
  2% { clip: rect(42px, 9999px, 44px, 0); }
  7% { clip: rect(12px, 9999px, 59px, 0); }
  11% { clip: rect(48px, 9999px, 29px, 0); }
  14.0% { clip: rect(42px, 9999px, 73px, 0); }
  21% { clip: rect(63px, 9999px, 27px, 0); }
  24% { clip: rect(34px, 9999px, 55px, 0); }
  31.0% { clip: rect(86px, 9999px, 73px, 0); }
  33% { clip: rect(20px, 9999px, 20px, 0); }
  42% { clip: rect(26px, 9999px, 60px, 0); }
  48% { clip: rect(25px, 9999px, 66px, 0); }
  51% { clip: rect(57px, 9999px, 98px, 0); }
  55.0% { clip: rect(5px, 9999px, 46px, 0); }
  61.0% { clip: rect(82px, 9999px, 31px, 0); }
  66% { clip: rect(54px, 9999px, 27px, 0); }
  71% { clip: rect(28px, 9999px, 99px, 0); }
  74% { clip: rect(45px, 9999px, 69px, 0); }
  82% { clip: rect(23px, 9999px, 85px, 0); }
  85.0% { clip: rect(54px, 9999px, 84px, 0); }
  93% { clip: rect(45px, 9999px, 47px, 0); }
  95% { clip: rect(37px, 9999px, 20px, 0); }
  100% { clip: rect(4px, 9999px, 91px, 0); }
}

@keyframes glitch-animation-a2 {
  2% { clip: rect(65px, 9999px, 100px, 0); }
  7% { clip: rect(52px, 9999px, 74px, 0); }
  11% { clip: rect(79px, 9999px, 85px, 0); }
  14.0% { clip: rect(75px, 9999px, 5px, 0); }
  21% { clip: rect(67px, 9999px, 61px, 0); }
  24% { clip: rect(14px, 9999px, 79px, 0); }
  31.0% { clip: rect(1px, 9999px, 66px, 0); }
  33% { clip: rect(86px, 9999px, 30px, 0); }
  42% { clip: rect(23px, 9999px, 98px, 0); }
  48% { clip: rect(85px, 9999px, 72px, 0); }
  51% { clip: rect(71px, 9999px, 75px, 0); }
  55.0% { clip: rect(2px, 9999px, 48px, 0); }
  61.0% { clip: rect(30px, 9999px, 16px, 0); }
  66% { clip: rect(59px, 9999px, 50px, 0); }
  71% { clip: rect(41px, 9999px, 62px, 0); }
  74% { clip: rect(2px, 9999px, 82px, 0); }
  82% { clip: rect(47px, 9999px, 73px, 0); }
  85.0% { clip: rect(3px, 9999px, 27px, 0); }
  93% { clip: rect(26px, 9999px, 55px, 0); }
  95% { clip: rect(42px, 9999px, 97px, 0); }
  100% { clip: rect(38px, 9999px, 49px, 0); }
}
@keyframes glitch-animation-b {
  4% { clip: rect(42px, 9999px, 44px, 0); }
  8% { clip: rect(12px, 9999px, 59px, 0); }
  10% { clip: rect(48px, 9999px, 29px, 0); }
  13.0% { clip: rect(42px, 9999px, 73px, 0); }
  22% { clip: rect(63px, 9999px, 27px, 0); }
  24% { clip: rect(34px, 9999px, 55px, 0); }
  33.0% { clip: rect(86px, 9999px, 73px, 0); }
  36% { clip: rect(20px, 9999px, 20px, 0); }
  46% { clip: rect(26px, 9999px, 60px, 0); }
  48% { clip: rect(25px, 9999px, 66px, 0); }
  53% { clip: rect(57px, 9999px, 98px, 0); }
  55.0% { clip: rect(5px, 9999px, 46px, 0); }
  61.0% { clip: rect(82px, 9999px, 31px, 0); }
  64% { clip: rect(54px, 9999px, 27px, 0); }
  70% { clip: rect(28px, 9999px, 99px, 0); }
  76% { clip: rect(45px, 9999px, 69px, 0); }
  81% { clip: rect(23px, 9999px, 85px, 0); }
  84.0% { clip: rect(54px, 9999px, 84px, 0); }
  91% { clip: rect(45px, 9999px, 47px, 0); }
  98% { clip: rect(37px, 9999px, 20px, 0); }
  100% { clip: rect(4px, 9999px, 91px, 0); }
}

@keyframes glitch-animation-b2 {
  4% { clip: rect(65px, 9999px, 100px, 0); }
  8% { clip: rect(52px, 9999px, 74px, 0); }
  10% { clip: rect(79px, 9999px, 85px, 0); }
  13.0% { clip: rect(75px, 9999px, 5px, 0); }
  22% { clip: rect(67px, 9999px, 61px, 0); }
  24% { clip: rect(14px, 9999px, 79px, 0); }
  33.0% { clip: rect(1px, 9999px, 66px, 0); }
  36% { clip: rect(86px, 9999px, 30px, 0); }
  46% { clip: rect(23px, 9999px, 98px, 0); }
  48% { clip: rect(85px, 9999px, 72px, 0); }
  53% { clip: rect(71px, 9999px, 75px, 0); }
  55.0% { clip: rect(2px, 9999px, 48px, 0); }
  61.0% { clip: rect(30px, 9999px, 16px, 0); }
  64% { clip: rect(59px, 9999px, 50px, 0); }
  70% { clip: rect(41px, 9999px, 62px, 0); }
  76% { clip: rect(2px, 9999px, 82px, 0); }
  81% { clip: rect(47px, 9999px, 73px, 0); }
  84.0% { clip: rect(3px, 9999px, 27px, 0); }
  91% { clip: rect(26px, 9999px, 55px, 0); }
  98% { clip: rect(42px, 9999px, 97px, 0); }
  100% { clip: rect(38px, 9999px, 49px, 0); }
}