body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
}
body * {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
