name: Typecheck, Lint and Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true
      REACT_APP_S3_BASE_URL: https://coordinape.s3.amazonaws.com
      REACT_APP_API_BASE_URL: https://myvault.live/api

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: nodeModules-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - run: yarn --frozen-lockfile

      - run: yarn typecheck

      - run: yarn lint:check

      - run: yarn test
