name: Typecheck, Lint and Test

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true
      ETHEREUM_RPC_URL: https://mainnet.infura.io/v3/275c8fc2ec294d6aac6bfc881d9a9dff
      HARDHAT_GANACHE_PORT: 8555
      REACT_APP_S3_BASE_URL: https://coordinape.s3.amazonaws.com
      REACT_APP_API_BASE_URL: https://staging-api.coordinape.com/api
      REACT_APP_HASURA_URL: https://coordinape-staging.hasura.app/v1/graphql
      REACT_APP_INFURA_PROJECT_ID: 275c8fc2ec294d6aac6bfc881d9a9dff

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: nodeModules-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - uses: actions/cache@v2
        with:
          path: '**/hardhat/node_modules'
          key: hardhatNodeModules-${{ runner.os }}-${{ hashFiles('**/hardhat/yarn.lock') }}

      - run: yarn --frozen-lockfile
      - run: ./scripts/setup.sh
      - run: yarn typecheck
      - run: yarn lint:check
      - run: yarn prettier:check
      - run: yarn test:ci
