name: Typecheck, Lint and Test

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      CI: true
      ETHEREUM_RPC_URL: https://mainnet.infura.io/v3/275c8fc2ec294d6aac6bfc881d9a9dff
      HARDHAT_FORK_BLOCK: 13500000
      HARDHAT_GANACHE_CHAIN_ID: 1338
      HARDHAT_GANACHE_PORT: 8546
      REACT_APP_S3_BASE_URL: https://coordinape.s3.amazonaws.com
      REACT_APP_HASURA_URL: https://coordinape-staging.hasura.app/v1/graphql
      REACT_APP_INFURA_PROJECT_ID: 275c8fc2ec294d6aac6bfc881d9a9dff

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: nodeModules-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - uses: actions/cache@v2
        with:
          path: '**/hardhat/node_modules'
          key: hardhatNodeModules-${{ runner.os }}-${{ hashFiles('**/hardhat/yarn.lock') }}

      - run: yarn --frozen-lockfile
      - run: ./scripts/setup.sh
      - run: yarn typecheck
      - run: yarn lint:check
      - run: yarn prettier:check
      - run: yarn test:ci
      - name: Codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov 
          chmod +x codecov 
          ./codecov

      # remove symlink to prevent redundant caching
      - name: Cleanup
        run: |
          rm node_modules/@coordinape/hardhat
